@{
    ViewBag.Title = "SignUp";
}

<div data-ng-controller="SignUpCtrl">
    <div class="tab-content">
        @*Sign Up*@
        <div id="tab1" class="login-wrapper tab-pane fade in active">
            <form id="signupform1">
                <div class="box">
                    <div class="content-wrap">
                        <h6>Sign Up</h6>
                        <input class="form-control" type="text" placeholder="E-mail address" data-ng-model="form.Email" maxlength="50" data-validation-engine="validate[required, maxSize[50], custom[email]]">
                        <input class="form-control" type="password" placeholder="Password" data-ng-model="form.Password" maxlength="30" data-validation-engine="validate[required, maxSize[20]]">
                        <input class="form-control" type="password" placeholder="Confirm Password" data-ng-model="form.ConfirmPassword" maxlength="30" data-validation-engine="validate[required, maxSize[20]]">
                        <div class="action">
                            <a href="#tab2" class="btn-glow primary signup" data-ng-click="tab2()">Sign up</a>
                        </div>
                    </div>
                </div>
                <div class="already">
                    <p>Already have an account?</p>
                    <a href="http://detail.herokuapp.com/signin.html">Sign in</a>
                </div>
            </form>
        </div>
        @*2nd Tab*@
        <div id="tab2" class="login-wrapper tab-pane fade in">
            <div class="box">
                <div class="content-wrap">
                    <h6>Your Details</h6>
                    <input class="form-control" type="text" placeholder="First Name" data-ng-model="form.FirstName">
                    <input class="form-control" type="text" placeholder="Last Name" data-ng-model="form.LastName">
                    <input class="form-control" type="text" placeholder="Mobile Phone Number" data-ng-model="form.Mobile">
                    <input class="form-control" type="text" placeholder="IC Number" data-ng-model="form.Identification">
                    <label>Mykad / Company Registration Document</label>
                    <input class="form-control" type="file" data-ng-model="form.File" />
                    <div class="action">
                        <a href="#tab1" class=" btn-glow primary signup" data-ng-click="tab1()">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>