<appSettings>


  <!-- S3 -->
  <add key="S3_accessKey" value="AKIAI7MU6GVJBEC6IAAQ" />
  <add key="S3_secretKey" value="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" />
  <add key="S3_bucket" value="assets.monsteritem.com" />
  <add key="S3_env" value="test" />

  <add key="cdn_url" value="http://assets.monsteritem.com" />
  


  
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

</appSettings>