@{
    ViewBag.Title = "success";
    Layout = "~/Areas/Account/Views/Shared/_AnnoymousLayout.cshtml";
}
<div class="header">
    <a href="http://detail.herokuapp.com/index.html">
        <img src="http://detail.herokuapp.com/img/logo.png" class="logo" alt="logo">
    </a>
</div>

<div class="login-wrapper">
    <div class="box-success">
        <div class="content-wrap">
            <h2>Registration Successful.</h2>

            <p>
                Thank you for signing up with us.   
            </p>

            <p>
                Now you can sell your cars easily and enjoy unlimited listings through itemsss.com.
            </p>

            <p>
                You will be redirected to the user control panel in 60 seconds. Click here if the browser does not automatically redirect.
            </p>

        </div>
    </div>
</div>

